.tweetstream {
	padding: 20px;
	background-color: $bb-red;
	overflow: hidden;
	&__header {
		width: 220px;
		float: left; 
		color: white;
	}
	&__title {
		font-size: 1.2em;
	}
	&__list {
		margin: 0;
		margin-left: 240px;
		padding: 0;
		list-style: none;
	}
	&__item {

	}
}

.tweet {
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0;
	}
	&__avatar {
		width: 48px;
		float: left;
	}
	&__container {
		margin-left: 53px;
		position: relative;
		&:before {
			content: "";
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			top: 0;
			right: 100%;
			border-style: solid;
			border-width: 0 12px 12px 0;
			border-color: transparent white transparent transparent;
		}
	}
	&__body {
		display: inline-block;
		min-height: 48px;
		padding: 10px;
		background-color: white;
	}
	&__content {
		a {
			color: $bb-red;
		}
	}
	&__metadata {
		color: $bb-faded;
		font-size: 0.8em;
	}
}