* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.button {
  display: inline-block;
  width: 100%;
  height: 60px;
  padding: 0;
  border: none;
  border-radius: 0;
  position: relative;
  color: #fff;
  background-color: #bebebe;
  font-size: inherit;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .25);
  cursor: pointer;
  box-shadow: inset 0 -2px rgba(0, 0, 0, .25);
}
.button--positive {
  background-color: limegreen;
}
.button:active {
  top: 1px;
  box-shadow: none;
}
.button:focus {
  outline: none;
}
.accordion {

}
.accordion__section {

}
.accordion__title {
  display: block;
  padding: 20px;
  background-color: #ededed;
  font-weight: bold;
  opacity: .5;
  cursor: pointer;
  transition: all .3s ease;
}
.accordion__radio {
  display: none;
}
.accordion__radio:checked + .accordion__title {
  opacity: 1;
}
.accordion__radio:checked ~ .accordion__content {
  max-height: 1000px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.accordion__content {
  max-height: 0;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  transition: all .3s ease;
}
.form {

}
.form__row {
  margin-bottom: 20px;
  overflow: hidden;
}
.form__row:last-child {
  margin-bottom: 0;
}
.form__control {
  width: 80%;
  padding-right: 10px;
  float: left;
}
.form__input {
  width: 100%;
  height: 60px;
  padding: 5px 20px;
  float: left;
  font-size: 1.3em;
}
.form__submit {
  width: 20%;
}
