.message {
	padding: 5px 20px;
	border-bottom: 3px solid black;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	color: black;
	background: yellow;
	font-weight: bold;
	text-align: center;
}