.results {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	&__item {
		width: 100%;
		overflow: hidden;
		position: relative;
		padding: 10px;
		border-width: 0;
		border-style: solid;
		border-color: palette(severn, darkest);
		border-top-width: 1px;
		cursor: pointer;
		transition: background-color .5s $animation-easing;
		@include mq("(min-width: 700px)") {
			width: 50%;
			&:nth-child(2n+1) {
				border-right-width: 1px;
			}
		}
		&:focus {
			outline: none;
			background-color: palette(severn, darker);
			.results__media,
			.results__body,
			.results__request {
				transform: translateX(-85px);
			}
		}
		&--positive {
			color: #fff;
			background-color: #3adb76;
			&:focus {
				background-color: mix(#000, #3adb76, 10%);
			}
			.results__request__icon {
				@include icon-check(30px, #fff);
			}
		}
		&--negative {
			color: #fff;
			background-color: #ec5840;
			&:focus {
				background-color: mix(#000, #ec5840, 10%);
			}
			.results__request__icon {
				@include icon-cross(30px, #fff);
			}
		}
	}
	&__media,
	&__body,
	&__request {
		transition: transform .5s $animation-easing;
	}
	&__media {
		width: 80px;
		margin-right: 10px;
		float: left;
		line-height: none;
		@include mq("(min-width: 400px)") {
			width: 120px;
		}
	}
	&__thumbnail {
		width: 100%;
	}
	&__body {
		margin-left: 90px;
		@include mq("(min-width: 400px)") {
			margin-left: 130px;
		}
	}
	&__title {

	}
	&__description {
		display: none;
		opacity: .54;
		@include mq("(min-width: 400px)") {
			display: block;
		}
	}
	&__request {
		width: 85px;
		position: absolute;
		top: 0;
		left: 100%;
		bottom: 0;
		cursor: pointer;
		font-family: inherit;
		font-size: em-calc(12px);
		text-align: center;
		border: none;
		color: #fff;
		background: none;
		background-color: palette(severn, darkest);
		&[disabled] {
			opacity: .56;
		}
		&__icon {
			@include icon-plus(30px, #fff);
			display: inline-block;
			width: 30px;
			height: 30px;
		}
		&__label {
			display: block;
			margin-top: 4px;
		}
	}
	&__empty {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: calc(100vh - 50px);
		padding: 20px;
		text-align: center;
		&__icon {
			@include icon-search(80px, #fff);
			display: inline-block;
			width: 80px;
			height: 80px;
			margin-bottom: 8px;
			opacity: .56;
		}
	}
}